{% extends '::base.html.twig' %}

{% block title %}phpDocumentor 2  &laquo; Error {{ status_code }} &laquo; {{ status_text }}{% endblock %}

{% block body %}

<div class="row surrounding-space">
    <div class="span12">
        <article>
            <h1>I am so sorry, you hit an error.</h1>

            <p>The server returned an error with code {{ status_code }} with text {{ status_text}}</p>
            <p>Please try again later or use the navigation to open another page.</p>
        </article>
    </div>
</div>

{% endblock %}
