ansible
app/phpunit.xml.dist
bin
build
docker
!docker/vhost.conf
docs
!docs/src/.build
puppet
src/phpDocumentor/*/Tests/**
var/cache/*
var/log/*
var/cache/.gitkeep
var/log/.gitkeep
web/app_dev.php
.*
build.xml
docker-compose.yml
LICENSE
README.md
Vagrantfile
wercker.yml
