vendor
app/config/parameters.ini
app/bootstrap.php.cache
app/Resources/docs
.idea
web/docs/1.4
web/docs/2.0
web/docs/latest
web/bundles
app/logs
!app/logs/.gitkeep
app/cache
!app/cache/.gitkeep
.vagrant
composer.phar
docs/src
