[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = https://github.com/willdurand/puppet-composer.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = git@github.com:example42/puppet-php.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:example42/puppet-mysql.git
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = git@github.com:example42/puppet-apache.git
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = git@github.com:example42/puppi.git
