always-auth=true
registry=https://npm.pkg.github.com/phpdocumentor
_authToken=${NODE_AUTH_TOKEN}
@phpdocumentor:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
