{% extends 'phpDocumentorResourceBundle::layout.html.twig' %}

{% block title %}phpDocumentor :: Plugins{% endblock %}

{% block content_header '' %}

{% block content %}

  {% for plugin in plugins %}
    <a href="{{ path('phpdocumentor_resource_plugins_show', {'name': plugin.name}) }}" class="resource-list-box">
      <img src="{{ asset('bundles/phpdocumentorresource/images/icons/plugin.png') }}" alt="Plugin" style="float:left;" />
      {{ plugin.name }}<br />
      <em>{{ plugin.description }}</em><br />
    </a>
  {% endfor %}

{% endblock %}
