$background-color: white;
$navigation-color: #666666;
$navigation-text-color: #9ed67c;
$navigation-hover-color: #8cd15f;
$navigation-hover-text-color: white;
$article-heading-color: #666666;
$highlight-light:  #8dd35f;
$highlight-medium: #5aa02b;
$highlight-dark:   #516f42;
$shadow-color : #84b56d;
$button-color: #a3dc7f;
$button-text-color: #516f42;
$button-hover-color: #92c471;
$text-color: #333333;
$accent-font-family: 'Roboto';
