</section>

<section class="header container-fluid">
    <header class="hero row">
        <section class="span2 offset2">
            <img src="{{ asset('bundles/phpdocumentorwebsite/images/logo2.png') }}" />
        </section>
        <section class="span5 offset1">
            <h1>
                <em>phpDocumentor</em> analyzes your <em>code</em><br />
                to create great <em>documentation</em>
            </h1>
            <p>
                phpDocumentor enables you to generate documentation from your PHP
                source code. This documentation provides an in-depth view of your
                project to you, your consumers and contributors.
            </p>
            <a class="button demo" href="http://demo.phpdoc.org">Demo</a>
            <a class="button learn-more" href="http://phpdoc.org/docs">Learn more</a>
        </section>
    </header>
</section>

<hr style="border-style: dashed; border-width: 2px; border-color: #ccc; margin-top: 5px;" />

<section class="container">
