<header class="hero row">
    <section class="span4 offset1">
        <img
            src="{{ asset('bundles/phpdocumentorwebsite/images/documentation-icon.png') }}"
            alt="Provided by http://www.customicondesign.com/free-icons/pretty-office-icon-set/pretty-office-icon-set-part-7"
        />
    </section>
    <section class="span5">
        <h1>
            <em>phpDocumentor</em> analyzes your <em>code</em><br />
            to create great <em>documentation</em>
        </h1>
        <p>
            phpDocumentor enables you to generate documentation from your PHP
            source code. This documentation provides an in-depth view of your
            project to you, your consumers and contributors.
        </p>
        <a class="button download">Download</a>
        <a class="button demo">Demo</a>
        <a class="button learn-more">Learn more</a>
    </section>
</header>
