{% extends '::base.html.twig' %}

{% block title %}phpDocumentor 2 &laquo; Contact{% endblock %}

{% block body %}

<section class="row">
    <section class="span4">
        <article class="content-overview">
            <h1>Contact</h1>
            <p>Got a question? Need some help? You can find help at several locations:</p>
            <table class="table">
                <tr><th>Documentation</th><td><a href="http://www.phpdoc.org/2/docs">Documentation</a></td></tr>
                <tr><th>Twitter</th><td><a href="http://twitter.com/phpdocumentor">@phpdocumentor</a></td></tr>
                <tr><th>IRC</th><td>#phpdocumentor at Freenode</td></tr>
            </table>
        </article>
    </section>
    <section class="span8">
        <article class="content-overview">
            <h1>#phpdocumentor on irc.freenode.net</h1>
            <iframe src="http://webchat.freenode.net?randomnick=1&channels=phpdocumentor&uio=MTE9ODIdf" width="100%" height="400" style="border: none"></iframe>
        </article>
    </section>
</section>

{% endblock %}
