</section>

<section class="header container-fluid">
    <header class="hero row">
        <section class="span2 offset2">
            <img src="{{ asset('bundles/phpdocumentorwebsite/images/logo2.png') }}" style="max-height: 12em"/>
        </section>
        <section class="span5 offset1">
            <h1>
                phpDocumentor is composed of reusable <em>components</em>.
            </h1>
            <p>
                phpDocumentor benefits from component created by Zend, Symfony and others, and phpDocumentor has some
                unique components of its own. These components are listed on this page and are ready to be used in your
                own projects.
            </p>
        </section>
    </header>
</section>

<hr style="border-style: solid; border-width: 1px; border-color: #8dd35f; margin-top: 5px;" />

<section class="container">
