{% extends '::base.html.twig' %}

{% block title %}phpDocumentor :: Templates{% endblock %}

{% block body %}

<div class="row content surrounding-space">
    <div class="span8">
        <article><img src="{{ asset('bundles/phpdocumentorwebsite/images/templates/clean.png') }}" /></article>
    </div>
    <div class="span4">
        <article>
            <h1>Clean</h1>
            <p>Description of this template</p>
        </article>
    </div>
</div>

{% endblock %}
