@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0.2;
        -webkit-transform: translate3d(5%, 0, 0);
        transform: translate3d(5%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0.2;
        -webkit-transform: translate3d(5%, 0, 0);
        transform: translate3d(5%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.phpdocumentor-header__menu-button {
    position: absolute;
    top: -100%;
    left: -100%;
}
.phpdocumentor-header__menu-icon {
    font-size: 2rem;
    color: var(--primary-color);
}

.phpdocumentor-topnav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    flex-basis: 100%;
}
.phpdocumentor-topnav__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.phpdocumentor-topnav__menu-item {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: var(--spacing-sm) 0
}
.phpdocumentor-topnav__menu-item.-social {
    width: auto;
    padding: var(--spacing-sm)
}
.phpdocumentor-header__menu-button:checked ~ .phpdocumentor-topnav {
    max-height: 250px;
    padding-top: var(--spacing-md);
}
.phpdocumentor-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding: var(--spacing-md) var(--spacing-md);
}
.phpdocumentor-header > * {
    height: auto;
}
.phpdocumentor-title {
    width: auto;
}
@media (min-width: 550px) {
    .phpdocumentor-title {
        width: 100%;
    }
    .phpdocumentor-header {
        flex-direction: column;
        padding: var(--spacing-lg) var(--spacing-lg);
    }
    .phpdocumentor-header__menu-icon {
        display: none;
    }
    .phpdocumentor-topnav {
        max-height: none;
        overflow: visible;
        flex-basis: auto;
    }
    .phpdocumentor-topnav__menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    .phpdocumentor-topnav__menu-item,
    .phpdocumentor-topnav__menu-item.-social {
        width: auto;
        display: inline;
        text-align: right;
        padding: 0 0 0 var(--spacing-md)
    }
}

blockquote {
    border-left: 4px solid var(--primary-color);
    margin: var(--spacing-md) 0;
    padding: var(--spacing-xs) var(--spacing-sm);
    color: var(--primary-color-darker);
    font-style: italic;
    font-size: var(--text-sm);
}

.phpdocumentor-topnav {
    margin: 0;
}

.phpdocumentor-hero {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    overflow: hidden;
    border-top: 1px solid var(--primary-color);
}
.phpdocumentor-hero .phpdocumentor-button {
    font-size: 90%;
    padding: 0 1.5rem;
    height: auto;
    transition: background-color .2s ease-in-out;
}

.phpdocumentor-hero__blurb,
.phpdocumentor-hero__illustration {
    flex: 1 1 0;
}
.phpdocumentor-hero__illustration {
    text-align: right;
}
.phpdocumentor-hero__illustration img {
    width: 100%;
}
.phpdocumentor-hero__blurb-title {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 0;
}
.phpdocumentor-hero__blurb-slogan {
    font-size: 1rem;
}
.phpdocumentor-hero__blurb-title em {
    font-style: normal;
    font-weight: bold;
    color: var(--primary-color);
}

.phpdocumentor-diagonal {
    content: '';
    background: var(--primary-color-lighter);
    transform: skewY(-2deg);
    margin-top: -3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.phpdocumentor-diagonal > .phpdocumentor-section {
    transform: skewY(2deg);
}

.phpdocumentor-features__screenshot {
    width: 33%;
    float: left;
    margin-right: 2rem;
}
.phpdocumentor-content h2 {
    font-size: 2.5rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.phpdocumentor-content h2 small {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.phpdocumentor-features__list .fa-li {
    color: var(--primary-color)
}
.phpdocumentor-features__list {
    margin: 0;
    padding: 0;
}

.phpdocumentor-features h2 {
    text-align: left;
    grid-column-start: 2;
}

.phpdocumentor-features h2 small {
    text-align: left;
}

.phpdocumentor-features ul li {
    list-style: none;
}

.phpdocumentor-features ul li p {
    padding-right: 1rem;
}

.phpdocumentor-features__list h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 1023px) {
    .phpdocumentor-hero__illustration {
        position: absolute;
        z-index: -1;
        opacity: .1;
        right: -14rem;
    }
    .phpdocumentor-features__screenshot {
        width: 100%;
        margin-bottom: 2rem;
        float: none;
    }
}
@media (min-width: 550px) {
    .phpdocumentor-title {
        width: 30.6666666667%;
    }
    .phpdocumentor-title__link {
        transform-origin: left;
    }
    .phpdocumentor-header {
        flex-direction: row;
        min-height: var(--header-height);
    }
    .phpdocumentor-topnav {
        margin-left: 4%;
    }
    .phpdocumentor-hero__blurb-title {
        font-size: 2.8rem;
        white-space: nowrap;
    }
    .phpdocumentor-hero__blurb-slogan {
        font-size: 1.2rem;
    }
    .phpdocumentor-hero .phpdocumentor-button {
        font-size: 110%;
        padding: .125rem 1.5rem;
    }
    .phpdocumentor-content h2 {
        padding-top: 2rem;
        font-size: 3rem;
    }
    .phpdocumentor-features__list {
        columns: 2;
    }
    .phpdocumentor-features__list li {
        display: inline-block;
        width: 100%
    }
}
@media (min-width: 1024px) {
    .phpdocumentor-hero__illustration {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }

    .phpdocumentor-side-by-side {
        display: flex;
        gap: 2rem;
    }

    .phpdocumentor-side-by-side > * {
        flex: 1 1 0;
    }

    .phpdocumentor-side-by-side h3 {
        margin-top: 0;
    }
}
@media (min-width: 1200px) {
    .phpdocumentor-header {
        padding: 0;
    }
}

.phpdocumentor-footer {
    height: 20rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.phpdocumentor-footer__logo {
    margin: 6rem auto 3rem;
    width: 4rem;
    display: block;
}

.phpdocumentor-admonition {
    border-color: var(--primary-color-lighten);
    background-color: var(--primary-color-lighter);
    font-size: 85%;
    padding: .5rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
}

.phpdocumentor-admonition__icon {
    font-size: 2rem;
    margin: .75rem 0.75rem 1.25rem 0.5rem;
    color: var(--primary-color);
}

pre {
    background: var(--text-color);
    color: var(--primary-color-lighter);
    padding: .5rem 1rem;
    border-radius: .25rem;
    box-shadow: 0 2px 3px var(--dark-gray);
    font-size: 0.8rem;
}

.phpdocumentor-code__shell {
    color: #69b347;
    pointer-events: none;
    user-select: none;
}