@import url("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome-ie7.css");
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed);
body {
  background: url("images/bg.png");
  background-size: 50% auto;
  font-family: Sans, sans-serif;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

em {
  color: #5aa02b;
  font-style: normal; }

a {
  color: #5aa02b; }
  a:hover {
    color: black; }
  a.button {
    background: #5aa02b;
    padding: 5px;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }

article {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: white;
  border: 1px solid silver;
  margin: 20px;
  padding: 10px; }
  article h1 {
    font-size: 1.4em;
    border-bottom: 1px solid silver;
    margin-top: 0px;
    padding-bottom: 5px;
    text-align: center; }
  article h2 {
    font-size: 1.5em;
    color: #666;
    font-weight: 100; }
  article nav a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 0.8em;
    color: #5aa02b;
    padding: 5px 10px; }
    article nav a.active {
      color: white;
      background-color: #5aa02b; }
  article.templates table {
    width: 100%; }
  article.templates td {
    width: 50%;
    text-align: center; }
  article.consumers td {
    width: 50%;
    text-align: center; }

details summary::-webkit-details-marker {
  float: right;
  padding-top: 5px; }

details[open] summary small {
  display: none; }

header {
  padding: 10px 0 0 0;
  border-bottom: 1px solid silver;
  background: white;
  clear: both; }
  header nav {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    clear: both; }
    header nav * {
      float: left; }
    header nav h1 {
      display: inline;
      font-size: 1.6em;
      line-height: 1.5em;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: normal;
      margin: 0; }
    header nav ul.nav {
      margin-top: 2px;
      margin-bottom: 0px;
      padding: 0; }
    header nav:first-of-type {
      border-bottom: 2px solid #8dd35f;
      padding: 0 10px 3px 10px; }
      header nav:first-of-type h1 {
        display: inline; }
        header nav:first-of-type h1 img {
          margin-top: -3px; }
      header nav:first-of-type a {
        color: gray; }
      header nav:first-of-type ul:first-of-type a {
        font-size: 1.2em;
        margin-left: 1em; }
      header nav:first-of-type ul:last-of-type {
        float: right;
        margin-right: 10px; }
        header nav:first-of-type ul:last-of-type i {
          padding: 3px 0; }
    header nav:nth-of-type(2) {
      line-height: 1em;
      margin: 0;
      padding: 0 5px; }
      header nav:nth-of-type(2) a {
        font-size: 1.0em;
        margin-right: 1em; }
  header.hero {
    background: transparent;
    text-align: center;
    padding: 30px 0;
    margin: 0 20px;
    border-bottom-style: dashed;
    border-bottom-width: 2px; }
    header.hero h1 {
      font-size: 1.9em;
      color: #777; }
    header.hero h1 em:nth-of-type(1) {
      color: black; }
    header.hero h1 em:nth-of-type(3) {
      font-size: 1.2em; }
    header.hero p {
      margin: 20px auto;
      width: 37em;
      line-height: 1.5em; }
    header.hero a.button {
      margin: 10px 5px 0px 5px;
      width: 8em;
      display: inline-block; }

footer {
  text-align: right;
  font-size: 0.8em;
  color: silver; }

summary {
  font-weight: bold;
  font-size: 1.1em; }

aside {
  float: right;
  width: 200px;
  font-size: 0.8em;
  clear: both;
  border: 1px solid silver;
  background: #fbfbfb;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px 0 5px; }

section.summary > table td:first-of-type {
  width: 10%;
  text-align: right;
  white-space: nowrap; }
section.summary > table td:nth-of-type(2) {
  width: 10px;
  white-space: nowrap; }

article.content-overview h1 {
  text-align: left; }
article.content-overview > section > section {
  border-bottom: 1px solid silver;
  padding: 15px 0 25px 0; }
  article.content-overview > section > section:last-of-type {
    border-bottom: none; }
  article.content-overview > section > section > * {
    margin-left: 100px; }
  article.content-overview > section > section > img:first-of-type {
    float: left;
    margin: 0; }

article.sponsors figure {
  text-align: center; }
article.sponsors figcaption {
  text-align: right;
  font-size: 0.8em;
  color: gray; }

@media screen and (max-width: 767px) {
  body {
    padding: 0; }

  header img#logo {
    max-height: 40px; }

  header section {
    margin: 0; }

  header h1 {
    display: block;
    margin-top: 2px; }

  header section:first-of-type nav a:first-of-type {
    margin-left: 0; }

  aside {
    float: none;
    margin-top: 10px; } }
