.phpdocumentor-topnav__menu {
    text-align: right;
}

.phpdocumentor-title.-without-divider {
    border: none;
}

.phpdocumentor-hero {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    max-width: 70%;
}

.phpdocumentor-hero__blurb,
.phpdocumentor-hero__illustration {
    flex: 1 1;
}
.phpdocumentor-hero__illustration {
    text-align: right;
}
.phpdocumentor-hero__blurb-title {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 0;
}
.phpdocumentor-hero__blurb-title em {
    font-style: normal;
    font-weight: bold;
    color: var(--primary-color);
}

.phpdocumentor-diagonal {
    content: '';
    background: var(--primary-color-lighter);
    transform: skewY(-4deg);
    margin-top: -3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.phpdocumentor-diagonal > .phpdocumentor-section {
    transform: skewY(4deg);
}

.phpdocumentor-content h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.phpdocumentor-content h2 small {
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.phpdocumentor-features__list {
    margin: 0;
    padding: 0;
}

.phpdocumentor-features h2 {
    text-align: left;
    grid-column-start: 2;
}

.phpdocumentor-features h2 small {
    text-align: left;
}

.phpdocumentor-features ul li {
    list-style: none;
    background: url('../images/checkmark.svg') no-repeat left .4rem;
    padding: .25rem 0 .25rem 2rem;
}

.phpdocumentor-features__list h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

@media (min-width: 550px) {
    .phpdocumentor-features {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .phpdocumentor-features__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        max-width: 45rem;
    }
}

.phpdocumentor-footer {
    height: 20rem;
    background: hsl(96, 18%, 60%);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.phpdocumentor-footer__logo {
    margin: 3rem auto;
    width: 4rem;
    display: block;
}
.phpdocumentor-title__link {
    display: flex;
}
